body,
html {
  height: 100vh;
  background-color: black;
  margin-top: 1%;
  color: white;
}
img {
  display: none;
}
canvas {
  background-color: black;
  border-style: solid;
  border-color: blue;
  border-radius: 6%;
}
div h3 {
  margin: 0;
  color: blue;
}
#restart {
  margin: 2%;
  background-color: black;
  color: blue;
  border-radius: 8%;
  width: 300px;
  height: 30px;
}
#startGame {
  margin: 2%;
  background-color: black;
  color: blue;
  border-radius: 8%;
  width: 300px;
  height: 30px;
}
.main {
  display: flex;
  justify-content: center;
}
.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.leftRight {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#goLeft,
#goRight {
  font-size: 5vh;
}
