body,
html {
  text-decoration: none;
  height: 100vh;
  background-image: url("./assets/greenPlanet.jpeg");
  background-repeat: repeat;
  /* margin-top: 1%; */
  color: black;
  touch-action: manipulation;
  font-family: "Permanent Marker", cursive;
}
img {
  display: none;
}
canvas {
  background-color: transparent;
  border-style: solid;
  border-color: white;
  border-width: thin;
  border-radius: 6%;
}
div h3 {
  margin: 0;
  color: white;
}
input {
  touch-action: none;
  font-family: "Permanent Marker", cursive;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 1;
}
a {
  text-decoration: none;
  color: green;
}
.desktopSize {
  width: 800px;
  height: 600px;
}
.mobileSize {
  width: 300px;
  height: 600px;
}
#restart {
  font-size: 3vh;
  margin: 2%;
  background-color: black;
  color: white;
  border-radius: 8%;
  /* width: 300px; */
  /* height: 30px; */
}
#startGame {
  font-size: 3vh;
  margin: 2%;
  background-color: black;
  color: white;
  border-radius: 8%;
  /* width: 300px; */
  /* height: 30px; */
}
.main {
  flex-direction: column;
  /* display: flex; */
  justify-content: center;
  text-align: center;
}
.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.leftRight {
  touch-action: none;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#output {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#output h2 {
  margin: 0;
  color: white;
}
.hidden {
  display: none;
}

#goLeft,
#goRight {
  border-radius: 8%;
  background-color: black;
  color: white;
  font-size: 5vh;
}
