body,
html {
  height: 100vh;
  background-color: gray;
  margin-top: 1%;
  color: white;
}
img {
  display: none;
}
canvas {
  background-color: black;
}
.main {
  display: flex;
  justify-content: center;
}
.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
